---
import Layout from "../layouts/Layout.astro";
import MoviesList from "../components/MoviesList.astro";
---

<Layout title="Movies Feeder">
	<h1 class="text-3xl font-bold mb-12">Trending movies</h1>

	<div role="tablist" class="tabs tabs-bordered tabs-lg">
		<input type="radio" name="tab" role="tab" class="tab" aria-label="Movies" value="movies" checked />
		<div role="tabpanel" class="tab-content p-8">
			<MoviesList />
		</div>
	</div>
</Layout>
