---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar";

import "@/styles/globals.css";
import { Toaster } from "@/components/ui/toaster";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Navbar client:load />
		<div class="w-[90%] md:w-[80%] mx-auto py-10">
			<slot />
		</div>
		<Toaster client:load />
	</body>
</html>
